@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: rgb(255, 255, 100);
  --secondaryColor: rgb(255, 255, 0);
  --theme: #333;
  --text-color: white;
}

body {
  color: var(--text-color);
}